#aside {

    /*position: relative;*/
    transition: transform 0.5s ease; /* Para animar el movimiento */
    
    top: 0px;
    position: fixed;
    height: 100%;
    width: 480px;
    background-color: #d04c9b !important;
    padding: 10px 0;
    z-index: 999999;
    right: -40%;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-direction: column;
 
        margin-left: 10%;
}


.btn {

    display: inline-block;
    background: #7a237a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    margin-left: 10%;
    flex-direction: column;
}

#callinaside{
    right: 5%;
    top: 25%;
    position:absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #6b6969;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 24px;
    
    font-family: sans-serif;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
